awscli==1.44.68
azure-core==1.39.0
azure-storage-blob==12.28.0
botocore==1.42.78
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
colorama==0.4.6
cryptography==46.0.6
dnspython==2.8.0
docutils==0.19
idna==3.11
isodate==0.7.2
jmespath==1.1.0
numpy==2.4.4
pandas==3.0.1
pyasn1==0.6.3
pycparser==3.0
pymongo==4.16.0
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.33.0
rsa==4.7.2
s3transfer==0.16.0
six==1.17.0
typing_extensions==4.15.0
urllib3==2.6.3
